@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
  /* Colors */
  --black: rgb(0, 0, 0);
  --white: #f1f1f1;
  --purewhite: #ffffff;
  --grey: rgb(171, 171, 171);
  --col10: #F55555;
  --col70: #6A6FFD;
  --col30 :#40B1F8;

  /* Font sizes */
  --alt-fontsize: 11px;
  --cite-fontsize: 16px; 
                               
  --hdr-fontsize: 36px;
  --btn-fontsize: 28px;
  --txt-fontsize: 22px;
  --score-fontsize: 58px;
  --name-fontsize: 30px;
  --move-fontsize: 22px;

  /* Font family */
  --main-font: 'Patrick Hand SC', sans-serif;

  /*Margins and paddings*/
  --main-padding: 10px;
  --hdr-padding: 10px;
  --ftr-padding: 20px;
  --hdr-gap:  20px;
  --ftr-gap:  20px;
  --alt-gap:  10px;

  /*Buttons*/
  --btn-padding: 20px;
  --btn-border: 2px;
  --btn-height: 100px;

  /* Maximum column width */
  --col-width: 800px;
}


html {
  background-color: var(--purewhite);
  color:  var(--black);
  font-family: var(--main-font), monospace;
  font-weight: 400;
  line-height: 1em;
  font-size: var(--txt-fontsize);
}

* { 
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding:  0;
  margin: 0;
}

body{
  margin:  0 auto;
  height: 100vh; /*it is assumed the same for <html>*/
  width: 100%; /* or max-width -- this avoids horizontal scroll bars */
}

/*****************************************************/

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,header,footer{
  max-width: var(--col-width);
  width: 100%;
}

h1{
  color: var(--col10);
  font-size: var(--hdr-fontsize);                                        
  margin: 0 auto;
  padding: 0 var(--hdr-padding);
  text-align: center;
}

main p{
  margin: 0 auto;
  padding: 0 var(--main-padding);
  text-align: center;
}

/*----------------------------------------*/
header,footer,.alt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header{
  gap: var(--hdr-gap);
  padding: var(--hdr-padding);
}

footer{
  gap: var(--ftr-gap);
  padding: var(--ftr-padding);
}
.alt{
  gap: var(--alt-gap);
}

.alternative{
  color: var(--grey);
  font-size: var(--alt-fontsize);
}

.cite{
  font-size: var(--cite-fontsize);
}

main{
  flex: 1;
  height: 100%;
  padding: var(--main-padding);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

#playerChoiceInfo,
#roundOutcome,
#newRound
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#gameInfo,
#gameOutcome,
#newGame{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playersInfo,
#playerChoiceList{
  display: flex;
  gap: var(--main-padding);
}

#playerInfo,
#computerInfo,
.choicesBtn{
  flex:1;
}

#playerMove,
#playerName,
#playerScore,
#computerMove,
#computerName,
#computerScore{
  display:flex;
  align-items: center;
  justify-content: center;
}

#playerMove,
#computerMove{
  flex-direction: column;
}

#playerScore,
#computerScore{
  font-size: var(--score-fontsize);
  line-height: 1;
}  

#playerChoiceInfo>p{
  margin-bottom: 10px;
}

#roundOutcome{
  margin-top: 25px;
}

#playerMove p,
#computerMove p{
  font-size: var(--move-fontsize);
  color: var(--grey);
}

#playerName,
#computerName{
  margin-top: 20px;
  font-size: var(--name-fontsize);
}  

#gameOutcome{
  color: var(--col10);
}

.removed{
  display:none !important;
}

.hidden{
  visibility:hidden !important;
}

#computerMoveImg{
  /*This mirror the image for the computer choice on the y-axis */
  transform: scale(-1, 1);
}

button{
  border-radius: 7px;
}

#newRoundBtn,
#newGameBtn{
  height: calc(1em + 2*(var(--btn-padding)+var(--btn-border)));
  margin: calc(var(--btn-height)/2 - 0.5em - var(--btn-padding) - var(--btn-border)) auto;
  padding: var(--btn-padding);

  border: var(--btn-border) solid var(--col70);
  color: var(--col70);
  font-size: var(--btn-fontsize);
  background-color: var(--white);
}

.choicesBtn{
  background-color: var(--white);
  border: var(--btn-border) solid var(--col70);
  /*width:calc(min(200px,100%))!important;*/
  flex: 1 1 0;
  height: var(--btn-height) !important;
}

.choicesBtnImg>.lottie-svg-class{
  width:calc(min(60px, 100%))!important;
}

.choicesBtnImg{
  transform: rotate(-30deg);
  overflow: hidden;
}

.choicesBtn > p{
  position: relative;
  top: -12px;
  right: 0px;
  font-size: var(--btn-fontsize);
  color: var(--col10);
  z-index: 0;
}
